* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Philosopher", sans-serif;
}

body {
    color: white;
    background: linear-gradient(rgba(51, 50, 50, 0.932), rgba(51, 50, 50, 0.932)), url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    text-decoration: underline;
}

.container {
    text-align: center;
    margin-block: 2rem;
    width: 80vw;
}

form {
    text-align: left;
    margin-block: 16px;
    width: 100%;
}

.grupo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    align-items: center;
}

label {
    font-size: 20px;
}

.tarea,
.limite {
    height: 40px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 5px;
    font-size: 17px;
}

.tarea {
    width: 100%;
}

.limite {
    width: 30%;
}

.boton {
    height: 40px;
    width: 10%;
    border: solid 1px #f0b86e;
    border-radius: 5px;
    background-color: #f0b86e;
    font-weight: bold;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-left: 20px;
}

.container-tareas {
    margin-top: 2rem;
}

article {
    display: flex;
    border: solid 1px white;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 20px;
    align-items: center;
    background-color: rgba(77, 71, 71, 0.685);
    box-shadow: 8px 10px 5px rgba(0, 0, 0, 0.623);
}
p,
span {
    font-size: 20px;
}

div {
    display: flex;
    justify-content: space-between;
}

.conf-f-h {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    padding-right: 10px;
}

.conf-t-b {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tanda {
    margin: 0 auto;
}

.fecha {
    width: 110px;
    font-size: 17px;
}

.btnEliminar {
    margin-left: auto;
    padding: 10px;
    border: solid 0.5px #d83f31;
    border-radius: 5px;
    background-color: #d83f31;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        width: 95vw;
    }
    h1 {
        font-size: 35px;
    }

    form {
        display: block;
        justify-content: center;
        text-align: center;
    }

    .grupo {
        display: block;
    }
    .tarea,
    .limite {
        width: 100%;
        font-size: 15px;
    }

    .boton {
        margin-top: 10px;
        width: 30%;
        margin-left: 0;
    }

    article {
        padding: 7px;
        text-align: center;
    }

    .fecha {
        width: 60px;
        font-size: 10px;
    }

    p {
        font-size: 15px;
    }
}
