* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Philosopher", sans-serif;
}

body {
    color: white;
    background: linear-gradient(rgba(51, 50, 50, 0.932), rgba(0, 0, 0, 0.932)), url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    text-decoration: underline;
}

.container {
    text-align: center;
    margin-block: 2rem;
    width: 90vw;
}

form {
    display: flex;
    justify-content: space-between;
    margin-block: 16px;
    width: 100%;
}

input {
    width: 89%;
    height: 40px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 5px;
    font-size: 17px;
}

.boton {
    height: 40px;
    width: 10%;
    border: solid 1px #f0b86e;
    border-radius: 5px;
    background-color: #f0b86e;
    font-weight: bold;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.container-tareas {
    margin-top: 2rem;
}

article {
    display: flex;
    border: solid 1px white;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 20px;
    align-items: center;
    background-color: rgba(77, 71, 71, 0.685);
    box-shadow: 8px 10px 5px rgba(0, 0, 0, 0.623);
}
p,
span {
    font-size: 20px;
}

div {
    display: flex;
    justify-content: space-between;
}

.conf-f-h {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.conf-t-b {
    width: 100%;
}

.fecha,
.hora {
    width: 110px;
}

.btnEliminar {
    margin-left: auto;
    padding: 10px;
    border: solid 0.5px #d83f31;
    border-radius: 5px;
    background-color: #d83f31;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

@media (max-width: 576px) {
    h1 {
        font-size: 35px;
    }
    form {
        display: block;
    }

    input {
        width: 100%;
        font-size: 13px;
    }

    .boton {
        margin-top: 10px;
        width: 30%;
    }

    article {
        padding: 7px;
    }

    .fecha,
    .hora {
        width: 50px;
    }

    .fecha {
        margin-right: 10px;
    }

    p,
    .fecha {
        font-size: 15px;
    }
}
